<!DOCTYPE html>
<html>
<head>
    <title></title>
   <link type="text/css" rel="stylesheet" href="./static/simple.css" />


</style>
</head>
<body>
    <div class="container">
        <div class="mywrap">
            <div class ="title">
              {{model_name}}
            </div>
              {% if badge_level %}
              <div class = "badge">
              <!-- &#10039; -->
              </div>
              {% else%}
              <div class = "badge" id="greybadge">
              <!-- &#10039; -->
              </div>
              {% endif%}
              {% if badge_level %}
              <div class = "badge" id = "check">
              <!-- &#10039; -->
              </div>
              {% else%}
              <div class = "badge" id="greycheck">
              <!-- &#10039; -->
              </div>
              {% endif%}

        </div>
        <div class="mywrap">
              {% if online_app_link is defined and online_app_link|length %}
              <a href= "{{online_app_link}}" target="_blank">
                <button class = "codelink">
                Online Application
                </button>
              </a>
              {% else %}
                <button class = "codelink" id = "nolink">
                Online Application
                </button>
              {% endif%}

              {% if download_app_link is defined and download_app_link|length %}
              <a href= "{{download_app_link}}" target="_blank">
                <button class = "codelink">
                Download Application
                </button>
              </a>
              {% else %}
                <button class = "codelink" id = "nolink">
                Download Application
                </button>
              {% endif%}

              {% if documentation_link is defined and documentation_link|length %}
              <a href= "{{documentation_link}}" target="_blank">
                <button class = "codelink">
                Documentation
                </button>
              </a>
              {% else %}
                <button class = "codelink" id = "nolink">
                Documentation
                </button>
              {% endif%}

              {% if associated_tools is defined and associated_tools|length %}
              <a href= "{{associated_tools}}" target="_blank">
                <button class = "codelink">
                Associated Tools
                </button>
              </a>
              {% else %}
                <button class = "codelink" id = "nolink">
                Associated Tools
                </button>
              {% endif%}
              <div class = "IconButton">
                ?
              </div>

        </div>
      <div class = "divider">
      </div>


      <div class ="main">
        <div class="mywrap">
              <div class ="label">
                {{model_name}} ({{model_abbrev}})

              </div>

              <a class = "pdfIcon"
                href="{{pdf_download}}" download>

              </a>

              <a class = "githubIcon" href="{{github_link}}" target="_blank"></a>

              <button class = "versionButton">
              Version {{version_number}}
              </button>
        </div>
        <div class ="label">
              Type:  {{model_type}}
        </div>

        <div class = "authName">
         author: {{author_name}}

        </div >

        <div class ="mainText">
          {{background_text}}
        </div>
        <div class = "ref">
            References
        </div>
        <div class ="mainText">
            <ul>
              {% for ref in references %}
              <li>{{ref}}</li>
              {% endfor %}
            </ul>
        </div>
      </div>



    </div>


</body>
</html>


