<!DOCTYPE html>
<html>
<head>
    <title></title>
   <link type="text/css" rel="stylesheet" href="./static/simple.css" />


</style>
</head>
<body>
    <div class="container">
        <div class="mywrap">
            <div class ="title">
              {{model_name}}
            </div>

              <div class = "badge">
              <!-- &#10039; -->
              </div>
              <div class = "badge" id="check">
              <!-- &#10004; -->
              </div>
        </div>
        <div class="mywrap">
              <button class = "codelink" id="nolink">
              Online Application
              </button>
              <a href= "{{download_app_link}}" target="_blank">
                <button class = "codelink" >
                Download Application
                 </button>
              </a>
              <a href="{{documentation_link}}"><button class = "codelink">
              Documentation
              </button>
              </a>
              <button class = "codelink" id="nolink">
              Associated Tools
              </button>
        </div>
      <div class = "divider">
      </div>


      <div class ="main">
        <div class="mywrap">
              <div class ="label">
                {{model_name}} ({{model_abbrev}})
              </div>

              <a class = "pdfIcon"
                href="{{pdf_download}}" download>

              </a>

              <a class = "githubIcon" href="{{github_link}}" target="_blank"></a>

              <button class = "versionButton">
              Version {{version_number}}
              </button>
        </div>

        <div class = "authName">
         author: {{author_name}}

        </div >

        <div class ="mainText">
          {{background_text}}
        </div>
        <div class = "ref">
            References
        </div>
        <div class ="mainText">
            <ul>
              {% for ref in references %}
              <li>{{ref}}</li>
              {% endfor %}
            </ul>
        </div>
      </div>

     <div class ="bottom">
           <div class = "IconButton">
          ?
          </div>
     </div>



    </div>


</body>
</html>


