<!DOCTYPE html>
<html lang="en">
<head>
    <title>NOAA Fisheries {{tool_name}}</title>
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/noaa-fisheries-integrated-toolbox/FIT_graphics/main/FIT_logo/logo_pngs/FIT_favicon_2022_color.png">
   <link type="text/css" rel="stylesheet" href="./static/tool_landing_page.css" />

</head>
<body>
    <div class="container">
        <div class="mywrap">
            <h1 class ="title">
              {{tool_name}}
            </h1>>
              {% if support_level is defined and support_level|length %}
              <div class = "badge" data-md-tooltip={{support_level}} id = {{support_level}} >
              <!-- &#10039; -->
              </div>
              {% else %}
              <!-- <div class = "badge" data-md-tooltip="Not Validated" id="greycheck"> -->
              <!-- &#10039; -->
              </div>
              {% endif%}

        </div>
        <div class="mywrap">
              {% if online_app_link is defined and online_app_link|length %}
              <button class = "codelink" title="link to online application" onclick=" window.open('{{online_app_link}}', '_blank'); return false;">
                Online Application
                </button>
              {% else %}
                <button class = "codelink nolink" title="Online application unavailable">
                Online Application
                </button>
              {% endif%}

              {% if executable_link is defined and executable_link|length %}
              <button class = "codelink" title="link to download application" onclick=" window.open('{{executable_link}}', '_blank'); return false;">
                Download Application
                </button>
              {% else %}
                <button class = "codelink nolink" title="Downloadable application unavailable">
                Download Application
                </button>
              {% endif %}

              {% if website_link is defined and website_link|length %}
               <button class = "codelink" title="link to website" onclick=" window.open('{{website_link}}', '_blank'); return false;">
                Website
                </button>
              {% else %}
                <button class = "codelink nolink" title="Website unavailable">
                Website
                </button>
              {% endif %}


              {% if documentation_link is defined and documentation_link|length %}
               <button class = "codelink" title="link to documentation" onclick=" window.open('{{documentation_link}}', '_blank'); return false;">
                Documentation
                </button>
              {% else %}
                <button class = "codelink nolink" title="Documentation unavailable">
                Documentation
                </button>
              {% endif %}

              {% if source_code_link is defined and source_code_link|length %}
               <button class = "codelink" title="link to Code Repository" onclick=" window.open('{{source_code_link}}', '_blank'); return false;">
                Code Repository
                </button>
              {% else %}
                <button class = "codelink nolink" title="Code Repository unavailable">
                Code Repository
                </button>
              {% endif %}
              <button class = "IconButton" title="e-mail fisheries.toolbox@noaa.gov" id ="email" onclick='location.href= "mailto:fisheries.toolbox@noaa.gov;"'>
              </button>

        </div>
      <div class = "divider">
      </div>


      <div class ="main">
        <div class="mywrap">
              <h2>
                {{tool_name}} ({{tool_abbreviation}})

              </h2>


              {% if pdf_download_link is defined and pdf_download_link|length %}
              <a class = "pdfIcon" title="download pdf"
                href="{{pdf_download_link}}" download>
              </a>
              {% endif %}


              {% if release_badge is defined and release_badge %}
              {% set release = "https://img.shields.io/github/v/release/"   ~ release_badge  ~ "?color=%230093D0&include_prereleases&label=%20" %}
              <img class = "versionButton" alt="GitHub release (latest by date)" src= {{release}}>
              {% elif static_version_number is defined and static_version_number %}
               <button class = "versionButton">
                v{{static_version_number}}
                </button>
              {% endif %}


        </div>

        
            <!-- {% if model_type %}
            <h2>Type</h2>
            <div class ="label">
              {{model_type}}
            </div>
            {% elif tool_type%}
            <h2>Type</h2>
            <div class ="label">
              {{tool_type}}
            </div>
            {% endif %} -->
        
        {% if authors is defined and authors|length > 1 %}
        <h2>Authors</h2>
        <div class = "authName">
        {{authors}}
        </div >
        {% elif authors is defined and authors %}
        <h2>Author</h2>
        <div class = "authName">
        {{authors}}
        </div >
        {% endif %}


        {% if main_image is defined and main_image %}

        <div data-md-tooltip="{{main_image.alt}}" class = "mainImage">
          <a href="{{main_image.link}}" target="_blank"><img id="mainImage" src="{{main_image.image}}" alt = "{{main_image.alt}}" ></a>
        </div>

        {% endif %}
          
          <h2>Description</h2>
          <div class ="mainText">
            {{background_text}}
          </div>
              {% if references is defined and references|length%}
                  <h2>References</h2>
                  <ul>
                      {% for ref in references %}
                          <li>{{ref}}</li>
                      {% endfor %}
                  </ul>
              {% endif %}


              {% if associated_tools is defined and associated_tools|length %}
                  <h2>
                      Associated Tools
                  </h2>
                  <ul id = "associated_tools">
                      {% for tools in associated_tools%}
                          <li><a href="{{tools.link}}"><i>{{tools.name}}</i></a></li>
                      {% endfor %}
                  </ul>
              {% endif %}

              {% if orgs_of_use is defined and orgs_of_use|length %}
                  <h2>
                      Organizations using this Tool
                  </h2>
                  <ul >
                      {% for tools in orgs_of_use%}
                          <li><a href="{{tools.link}}"><i>{{tools.name}}</i></a></li>
                      {% endfor %}
                  </ul>
              {% endif %}


              {% if zenodo_citation is defined and zenodo_citation|length %}
                  <h2>
                      Citation
                </h2>
                  <ul id = "associated_tools">

                      <li><a href="{{'https://zenodo.org/badge/latestdoi/' ~ zenodo_citation}}"><img src="{{'https://zenodo.org/badge/' ~ zenodo_citation ~'.svg'}}" alt="DOI"></a></li>

                  </ul>
              {% endif %}

              {% if multi_download is defined and multi_download|length %}
                  <div id = "Executables" class = "ref">
                      Downloadable Executables
                  </div>
                  <ul >
                      {% for tools in multi_download%}
                          <li><a href="{{tools.link}}"><i>{{tools.name}}</i></a></li>
                      {% endfor %}
                  </ul>
              {% endif %}



              <h2>
              Code Repository Badges
              </h2>
                  {% if software_badges is defined and software_badges|length %}

                      {% for tools in software_badges%}
                          <img src="{{tools}}">
                      {% endfor %}
                  {% endif %}
                  
            <h2>
             Keywords
            </h2>
              {% if keywords is defined and keywords|length %}
                {% for key in keywords%}
                  <li>{{key}}</li>
                {% endfor %}
              {% endif %}          
      </div>

      <div class = "divider"></div>

        <footer >
          <img src="https://raw.githubusercontent.com/noaa-fisheries-integrated-toolbox/FIT_graphics/main/FIT_logo/logo_pngs/FIT_logo_2022_color.png" alt="NOAA Fisheries Integrated Toolbox Logo" height="75">
             <img src="./static/noaa-fisheries-rgb-2line-horizontal-small.png" height="75" alt="NOAA Fisheries">
         <div class="mywrap_center">
          <a class ="mylink line" href="https://www.commerce.gov/">U.S. Department of Commerce</a>
         <a class ="mylink line" href="https://www.noaa.gov">National Oceanographic and Atmospheric Administration</a>
         <a class ="mylink" href="https://www.fisheries.noaa.gov/">NOAA Fisheries</a>
         </div>

        </footer>
        <div class ="attribution">Icons by icons8 https://icons8.com/</div>

    </div>


</body>
</html>


